{% extends "templates/home.html.twig" %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/textarea.html.twig' import textarea %}
{% from 'macro/form/select.html.twig' import select %}
{% from 'macro/form/title.html.twig' import title %}
{% set buttonClass = "w3-button w3-right w3-ripple w3-theme-l1 w3-hover-green w3-margin-left w3-margin-bottom" %}

{% block main %}
{{editPwd}}
<div class="w3-content w3-card-4 w3-margin-top w3-theme-light" style="max-width:500px">
    {% if not me.oauth %}
        {{ title('Change your Password', 'editPassword',  editPwd) }}
        <form id="editPassword" class="w3-container w3-theme-light clearfix w3-hide {% if editPwd %}w3-show{% endif %}"
              style="opacity:0.95" action="{{ path_for('editPassword') }}" method="post" matcha-form>
            {% if not reset %}
                <div class="w3-section">
                    {{ input('password','enter old password', {'name': 'oldPassword'}) }}
                </div>
            {% endif %}
            <div class="w3-section">
                {{ input('password','enter new password', {'name': 'password'}) }}
            </div>
            <div class="w3-section">
                {{ input('password', 're-enter new password', {'name': 'password confirmation'}) }}
            </div>
            <input class="{{ buttonClass }}" type=submit value=Submit>
        </form>
    {% endif %}
    {{ title('Your Account', 'RGPD',  rgpd) }}
    <form id="RGPD" class="w3-container w3-theme-light clearfix w3-hide {% if rgpd %}w3-show{% endif %}"
          style="opacity:0.95" action="">
        <div class="w3-white w3-padding w3-margin w3-container w3-leftbar w3-border-green">
            <div class="w3-tag w3-padding w3-green">About your data</div>
            <p>We need some of your data to authentificate you on this website. In particular, your email is requested to sign up and to let you reset your password when needed. We dont sell or communicate in any ways your information to any third party.</p>
        </div>
        <div class="w3-white w3-padding w3-margin w3-container w3-leftbar w3-border-blue">
            <div class="w3-tag w3-padding w3-blue">Get all your data</div>
            <p>We will send you everything we know about you by email.</p>
            <button type="button" class="w3-button w3-blue w3-right" data-url="{{ path_for('getMyData') }}">Get data</button>
        </div>
        <div class="w3-white w3-padding w3-margin w3-container w3-leftbar w3-border-red">
            <div class="w3-tag w3-padding w3-red">Delete your account and all your data</div>
            <p>We will delete everything we know about you. Your account will be delete too. A confirmation mail will be sent to you. Please notice that this can't be undone.</p>
            <button type="button" class="w3-button w3-red w3-right" data-url="{{ path_for('deleteAccount') }}">Delete account</button>
        </div>
    </form>
    {{ title('Edit your profil', 'editProfil',  editProfil) }}
    <form id="editProfil" class="w3-container w3-theme-light clearfix w3-hide {% if editProfil %}w3-show{% endif %}"
          style="opacity:0.95" action="{{ path_for('editProfil') }}" method="post" matcha-form>
        <div class="w3-section">
            {{ input('text', 'pseudo', {'value': me.pseudo, 'pattern': constant('App\\Lib\\Validator::PSEUDO')}) }}
        </div>
        <div class="w3-section">
            {{ input('email', 'email', {'value': me.email}) }}
        </div>
        <div class="w3-section">
            {{ input('text', 'name', {'value': me.name, 'maxlength': constant('App\\Lib\\Validator::MAX_NAME_LENGTH')}) }}
        </div>
        <div class="w3-section">
            {{ input('text', 'surname', {'value': me.surname, 'maxlength': constant('App\\Lib\\Validator::MAX_NAME_LENGTH')}) }}
        </div>
        <div class="w3-section">
            {{ input('number', 'birthdate', {
                    'value': me.birthdate,
                    'min': "now"|date("Y") - constant('App\\Lib\\Validator::MAX_AGE'),
                    'max': "now"|date("Y") - constant('App\\Lib\\Validator::MIN_AGE'),
                    'name': 'birthdate'
                })
            }}
        </div>
        <div class="w3-section">
            {{ select({
                'label': 'gender',
                'array': constant('App\\Lib\\Validator::GENDER'),
                'select': me.gender,
                'name': 'gender'
            })
            }}
        </div>
        <div class="w3-section">
            {{ select({
                'label': 'orientation',
                'array': constant('App\\Lib\\Validator::KIND'),
                'select': me.sexuality,
                'name': 'sexuality'
            })
            }}
        </div>
        <div class="w3-section">
            {{ textarea({'label': 'Biography', 'name': 'biography', 'value': me.biography}) }}
        </div>
        <input class="{{ buttonClass }}" type=submit value=Submit>
    </form>
</div>
{% endblock %}

{% block script %}
    <script>var myId = '{{ me.publicToken }}'</script>
    <script src="{{ BASE_URL }}/js/autobahn.js"></script>
    <script src="{{ BASE_URL }}/js/notification.js"></script>
{% endblock %}
