{% extends 'templates/home.html.twig' %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/select.html.twig' import select %}
{% from 'macro/form/layout.html.twig' import form %}
{% from 'macro/form/title.html.twig' import title %}
{% set buttonClass = 'w3-button w3-right w3-ripple w3-theme-l1 w3-hover-green w3-margin-left w3-margin-bottom' %}


{% block main %}
<div class="w3-content w3-section w3-card-4 w3-white" style="max-width:95vw">
    <div id="flash" class="w3-panel w3-green w3-hide" style="position:fixed;bottom:10px;right:10px;z-index:20">
        <p id="flashText"></p>
    </div>
    <div class="w3-padding w3-row">
        <h2 class='w3-theme-l1'>Search</h2>
        <div class="w3-row">
            <div class="w3-half w3-padding">
                <div class="w3-card-4">
                    <h3 class="w3-hover-green" style="cursor:pointer"  onclick="toggleSibling(this)">Actions</h3>
                    <div id="Actions" class="w3-theme-l5 w3-padding gg-section">
                        <button id="prev" type="button" class="w3-button w3-theme-d1 w3-margin-top w3-hover-blue">prev</button>
                        <button id="add" type="button" class="w3-button w3-theme-d1 w3-margin-top w3-hover-green" data-url="/friend/{{ profil.id }}">add</button>
                        <button id="next" type="button" class="w3-button w3-theme-d1 w3-margin-top w3-hover-blue">next</button>
                        {{ select({
                            'label': 'sort by',
                            'name': 'sort1',
                            'array': sort,
                            'select': '',
                            'style': 'width:auto;max-width:75%',
                            'class': '',
                            'change': 'sortCard("sort1", "focus")'
                        }) }}
                    </div>
                </div>
            </div>
            <div class="w3-half w3-padding">
                <h3 class="w3-hover-green" style="cursor:pointer" onclick="toggleDisplay2(this)">Focus</h3>
                <div id="focus" class="w3-card-4"></div>
            </div>
        </div>
        <div class="w3-col l6 w3-padding">
            <div class="w3-row w3-card-4">
                <h3 class="w3-hover-green" style="cursor:pointer" onclick="toggleSibling(this);">Map</h3>
                <div id="map" class="gg-map-med"></div>
            </div>
        </div>
        <div class="w3-col l6 w3-padding">
            <div class="w3-row w3-card-4">
                <h3 class="w3-hover-green" style="cursor:pointer" onclick="toggleSibling(this);">Search By Name</h3>
                <form class="w3-container w3-theme-light clearfix" style="opacity:0.95" action="/search-name" method="get">
                    <legend>Search by Name</legend>
                    {{ input('text', '', {'value': '','placeholder':'pseudo', 'class':'w3-col s12 m9 l6', 'name': 'pseudo'}) }}
                    <button class="{{ buttonClass }}">Search</button>
                </form>
                <h3 class="w3-hover-green" style="cursor:pointer" onclick="toggleSibling(this);">Search By Criteria</h3>
                <form class="w3-container w3-theme-light clearfix" style="opacity:0.95" action="{{ path_for('searchByCriteria') }}" method="post">
                    <div class="w3-row w3-margin-bottom">
                        <div class="w3-third">
                            <h3 class="w3-theme-l1">age</h3>
                            <div class="w3-border">
                                <div class="w3-col s6">
                                    {{ input(
                                        'number',
                                        '',
                                        {
                                        'value': age.min,
                                        'min': 18,
                                        'max': 118,
                                        'name': 'min',
                                        'style': 'width:90%'
                                    }) }}
                                </div>
                                <div class="w3-col s6">
                                    {{ input(
                                        'number',
                                        '',
                                        {
                                            'value': age.max,
                                            'min': 18,
                                            'max': 118,
                                            'name': 'max',
                                            'style': 'width:90%'
                                    }) }}
                                </div>
                            </div>
                        </div>
                        <div class="w3-third" style="text-align:center">
                            <h3 class="w3-theme-l1">distance</h3>
                            <div class="w3-border">
                                {{ select({
                                    'label': 'up to … km',
                                    'name': 'distance',
                                    'array': distance,
                                    'select': distSelect,
                                    'style': 'width:85%;'
                                }) }}
                            </div>
                        </div>
                        <div class="w3-third" style="text-align:center">
                            <h3 class="w3-theme-l1">popularity</h3>
                            <div class="w3-border">
                                <div class="w3-col s6">
                                    {{ input(
                                    'number',
                                    '',
                                    {
                                    'value': popularity.min,
                                    'min': 0,
                                    'max': 100,
                                    'name': 'Pmin',
                                    'style': 'width:90%'
                                    })
                                    }}
                                </div>
                                <div class="w3-col s6">
                                    {{ input(
                                    'number',
                                    '',
                                    {
                                    'value': popularity.max,
                                    'min': 0,
                                    'max': 100,
                                    'name': 'Pmax',
                                    'style': 'width:90%'
                                    })
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-half">
                            <h3 class="w3-theme-l1">kind</h3>
                            <div class="w3-border w3-padding" style="height:122px">
                                {% for type in gender %}
                                    <div>
                                        <input name="{{ type }}" type="checkbox" value="" {% if type in target %}checked{% endif %}>
                                        <label>{{ type }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="w3-half">
                            <h3 class="w3-theme-l1">interest</h3>
                            <div id="tags" class="w3-border w3-padding" style="max-height:122px;overflow:auto">
                                {% for tag in tags %}
                                    <div>
                                        <input name="tag_{{ tag }}" value="{{ tag }}" type="checkbox" checked>
                                        <label>{{ tag }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                            <button type="button" onclick="uncheckTags()">Uncheck all</button>
                            <button type="button" onclick="checkTags()">Check all</button>
                        </div>
                    </div>
                    <button type="submit" class="{{ buttonClass }}">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <template id="repeatProfil">
        <div class="w3-theme-l5 w3-row w3-hide">
            <a class="w3-col s12" href="..{{ path_for('profil', {'id': ''}) }}" target="_blank" id="">
                <div class="w3-theme-l5 w3-row" style="height: 200px; overflow: auto;">
                    <div class="w3-col s6 w3-padding">
                        <div class="medium-text" style="background-color: rgb(214, 65, 97); height: 10%;" gg-name></div>
                        <div gg-bio></div>
                    </div>
                    <div class="w3-right w3-black w3-col s6 w3-display-container" style="height: 100%;">
                        <img class="w3-image w3-display-middle" style="max-width: 95%; max-height: 95%;" src="">
                    </div>
                </div>
            </a>
        </div>
    </template>
    <script>
        var myPos = {lat: {{ me.lattitude }}, lng: {{ me.longitude }}};
        var usersPos = [
            {% for user in users %}
                {title: '{{ user.pseudo }}', id: '{{ user.id }}', score: {{ user.score }}, lat: {{ user.lattitude }}, lng: {{ user.longitude }}, img: '{{ user.img1 }}', kind: '{{ user.gender }}', age: '{{ "now"|date("Y") - user.birthdate }}', popularity: '{{ user.popularity }}', biography: '{{ user.biography|replace({"\n": " ", "\r": ""}) }}', distance: '{{ user.distance }}', tag: '{{ user.tag }}' },
            {% endfor %}
        ];
        var myId = '{{ me.publicToken }}';
    </script>
    <script src="{{ BASE_URL }}/js/search.js"></script>
    <script src="{{ BASE_URL }}/js/autobahn.js"></script>
    <script src="{{ BASE_URL }}/js/notification.js"></script>
    <script src="{{ BASE_URL }}/js/mapSearch.js"></script>
    <script defer async src="https://maps.googleapis.com/maps/api/js?key={{ mapKey }}&callback=initMap"></script>
{% endblock %}
