{% from 'macro/form/select.html.twig' import select %}

<form id="searchByCriteria" class="w3-container w3-theme-light clearfix" action="{{ path_for('searchByCriteria') }}" method="POST">
    <div class="w3-row w3-margin-bottom">
        <div class="w3-third">
            <h3 class="w3-theme-l1">age</h3>
            <div class="w3-border">
                <div class="w3-col s6">
                    <label for="age_min">min</label>
                    <input class="w3-input w3-border" id="age_min" type="number" name="Amin" value="{{ age.min }}"
                           min="{{ constant('App\\Lib\\Validator::MIN_AGE') }}" max="constant('App\\Lib\\Validator::MAX_AGE')">
                </div>
                <div class="w3-col s6">
                    <label for="age_max">max</label>
                    <input class="w3-input w3-border" id="age_max" type="number" name="Amax" value="{{ age.max }}"
                           min="constant('App\\Lib\\Validator::MIN_AGE')" max="constant('App\\Lib\\Validator::MAX_AGE')">
                </div>
            </div>
        </div>
        <div class="w3-third" style="text-align:center">
            <h3 class="w3-theme-l1">distance</h3>
            <div class="w3-border">
                {{ select({
                    'label': 'up to … km',
                    'name': 'distance',
                    'array': distance,
                    'select': distSelect,
                    'style': 'width:85%;'
                }) }}
            </div>
        </div>
        <div class="w3-third" style="text-align:center">
            <h3 class="w3-theme-l1">popularity</h3>
            <div class="w3-border">
                <div class="w3-col s6">
                    <label for="min_pop">min</label>
                    <input class="w3-input w3-border" id="min_pop" type="number" name="Pmin" value="{{ popularity.min }}" min="0" max="100">
                </div>
                <div class="w3-col s6">
                    <label for="max_pop">max</label>
                    <input class="w3-input w3-border" id="max_pop" type="number" name="Pmax" value="{{ popularity.max }}" min="0" max="100">
                </div>
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-half">
            <h3 class="w3-theme-l1">kind</h3>
            <div class="w3-border w3-padding" style="height:122px">
                {% for type in constant('App\\Lib\\Validator::GENDER') %}
                    <div>
                        <input id="gender_{{ type }}" name="{{ type }}" type="checkbox" value="" {% if type in target %}checked{% endif %}>
                        <label for="gender_{{ type }}">{{ type }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="w3-half">
            <h3 class="w3-theme-l1">tags</h3>
            <div id="tags" class="w3-border w3-padding" style="height:122px">
                <label for="tags">tags</label>
                <input class="w3-input w3-border" id="tags" type="text" name="tags" placeholder="#exemple1 #exemple2 #etc…">
            </div>
        </div>
    </div>
    <button type="submit" class="{{ buttonClass }}">Search</button>
</form>