{% macro subtitle(your, title, home, icon, path, id, link) %}
<div class="w3-theme-l4">
    {% if home %}
    <div class="w3-bar w3-theme-d1 w3-display-container" style="width:100%">
        <h3 class="w3-bar-item w3-display-middle w3-hover-green" style="padding:0;cursor:pointer" onclick="toggleDisplay('{{ title }}')">
        {{ your }}{{ title }}
    </h3>
{% if home %}
    {% if link %}
    <a href="{{ path }} "class="w3-bar-item w3-button w3-right w3-hover-green" title="{{ id }}">
        <i class="{{ icon }} w3-large"></i>
    </a>
    {% else %}
    <div class="w3-bar-item w3-button w3-right w3-hover-green" onclick="{{ path }}" title="{{ id }}">
        <i class="{{ icon }} w3-large"></i>
    </div>
    {% endif %}
{% endif %}
</div>
{% else %}
    <h3 class="w3-bar-item w3-hover-green" style="padding:0;cursor:pointer" onclick="toggleDisplay('{{ title }}')">
        {{ title }}
    </h3>
{% endif %}
</div>
{% endmacro %}
