{# hash keys are: label, name, array, select, class #}
{% macro select(hash) %}
<label for='{{ hash.name }}'>{{ hash.label }}</label>
<select id="{{ hash.name }}" name="{{ hash.name|default(hash.label|default('select')) }}" class="w3-select {{ hash.class}}"
        style="{{ hash.style }}" onchange="{{ hash.change }}">
    {% for value in hash.array %}
        <option value='{{ value }}' {% if value == hash.select %}selected{% endif %}>
            {{ value }}
        </option>
    {% endfor %}
</select>
{% endmacro %}
