{% macro input(type, label, hash) %}
{% set name = hash.id|default(label) %}
<label for='{{ name }}'>{{ label }}</label>
<input class="w3-input w3-border {{ hash.class }}"
       id="{{ name }}"
       type="{{ type }}"
       name="{{ hash.name|default(label|default(type)) }}"
       {% for key, value in hash %}
           {% if key != name %}
           {{ key }}="{{ value }}"
           {% endif %}
       {% endfor %}
       {% if type == 'password' %}
           pattern="{{ hash.pattern|default(constant('App\\Lib\\Validator::PASSWORD')) }}"
       {% endif %}
       required>
{% endmacro %}
