{# hash keys are: label, name, array, select, class #}
{% macro select(hash) %}
{% from 'macro/form/label.html.twig' import label %}
{% set def = 'select' %}

{{ label(hash.label) }}
<select name="{{ hash.name|default(hash.label|default(def)) }}" class="w3-select" style="{{ hash.style }}">
    {% for value in hash.array %}
    <option value='{{ value }}' {% if value == hash.select %}selected{% endif %}>
        {{ value }}
    </option>
    {% endfor %}
</select>
{% endmacro %}
