{# hash keys are: label, name, value, placeholder #}
{% macro textarea(hash) %}
{% set label = hash.label|default('textarea') %}
<label for='{{ label }}'>{{ label }}</label>
<textarea
    id="{{ label }}"
    name="{{ hash.name|default(label) }}"
    class="w3-input w3-border"
    placeholder="{{ hash.placeholder|default('do something of your life, go watch TV!') }}"
    required>{{ hash.value }}</textarea>
{% endmacro %}
