<div class="w3-half" id="img1">
    <div class="w3-display-container gg-main-image">
        {% if imgs[0] %}
            <img src='{{ imgs[0] }}' alt='{{ imgs[0] }}' title='{{ pseudo }}_img1' class="w3-image w3-display-middle" style="max-height:100%" matcha-modal>
            <i class="w3-padding w3-display-topright del-red fa fa-remove" title="remove picture" data-id="img1" matcha-delete></i>
        {% else %}
            <label class="w3-section w3-display-middle w3-block w3-jumbo fa fa-plus w3-padding-large check-green" title="add picture">
                <input data-id="img1" type="file" style="display:none"/>
            </label>
        {% endif %}
    </div>
</div>
<div class="w3-half">
    {% for key, url in imgs|slice(1, 4) %}
        {% set id = 'img%d'|format(key + 2) %}
        {% if not key % 2 %}
            <div class="w3-row gg-2nd-image">
        {% endif %}
        <div class="w3-half" id="{{ id }}">
            <div class="w3-display-container" style="height:125px">
                {% if url %}
                    <img src='{{ url }}' alt='{{ pseudo }}' title='{{ pseudo }}_{{ id }}' class="w3-image w3-display-middle" style="max-height:100%" matcha-modal>
                    <i class="w3-padding w3-display-topright del-red fa fa-remove" title="Remove picture" data-id="{{ id }}" matcha-delete></i>
                {% else %}
                <label class="w3-section w3-center w3-block w3-jumbo fa fa-plus w3-padding-large check-green" title="Add picture" style="vertical-align:middle">
                    <input data-id="{{ id }}" type="file" style="display:none"/>
                </label>
                {% endif %}
            </div>
        </div>
        {% if key % 2 %}
            </div>
        {% endif %}
    {% endfor %}
</div>
