{% macro label(name) %}
    <label>{{ name }}</label>
    <p></p>
{% endmacro label %}

{% macro input(name, id, value, type, size) %}
{% set def = 'pseudo' %}
    {% import _self as forms %}
    {{ forms.label(name|default(def)) }}
<input type="{{ type|default('text') }}"
       name="{{ name|default(def) }}"
       value="{{ value }}"
       id="{{ id|default('name') }}"
       maxlength="{{ size|default(40) }}"
       required>
{% endmacro input %}

{% macro email(name, id) %}
{% set def = 'email' %}
    {% import _self as forms %}
    {{ forms.label(name|default(def)) }}
<input type="{{ type|default(def) }}"
       name="{{ name|default(def) }}"
       id="{{ id|default(def) }}"
       required/>
{% endmacro email %}

{% macro password(name, id, type, pattern) %}
{% set def = 'password' %}
    {% import _self as forms %}
    {{ forms.label(name|default(def)) }}
<input type="{{ type|default(def) }}"
       name="{{ name|default(def) }}"
       id="{{ id|default(def) }}"
       pattern="{{ pattern|default('(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}') }}"
       required>
{% endmacro password %}

{% macro select(name, array, id) %}
{% set def = 'select' %}
    {% import _self as forms %}
    {{ forms.label(name|default(def)) }}
<select name="{{ name|default(def) }}"
       id="{{ id|default(def) }}">
    {% for value in array %}
    <option value='{{ value }}'>{{ value }}</option>
    {% endfor %}
</select>
{% endmacro select %}
