{% extends 'templates/logForm.html.twig' %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/textarea.html.twig' import textarea %}
{% from 'macro/form/button.html.twig' import button %}
{% from 'macro/form/layout.html.twig' import form %}

{% block main %}
<div class="w3-content w3-card-4 w3-margin-top w3-theme-light" style="max-width:500px">
{{ form('Contact Us', 'contact', flash, true) }}
{% if not flash %}
<div class="w3-section">
    <div id="infopwd" class="w3-panel w3-green">
        <p>If you have anything to tell us, we will be happy to read you even if Rick doesn't care, like, at all!</p>
    </div>
</div>
<div class="w3-section">
    {{ input('email', 'your email', {'name':'email', 'value': user.email|default("rick@morty.com") }) }}
</div>
<div class="w3-section">
    {{ textarea({'label': 'your message', 'placeholder': 'why we do care!', 'name':'text'}) }}
</div>
<div class="">
    {{ button('submit') }}
    {{ button('reset') }}
</div>
{% else %}
<script>
setTimeout(function () {location.href = '/'}, 3500);
</script>
{% endif %}
    </form>
</div>
{% endblock %}
