{% extends 'templates/logForm.html.twig' %}
{% from 'macro/form/text.html.twig' import text %}
{% from 'macro/form/password.html.twig' import password %}

{% block h2 %}Log in{% endblock %}

{% block action %}
{{ path_for('login') }}
{% endblock %}

{% block form %}
<a href='{{ path_for('signup') }}'>signup</a>
<a href='{{ path_for('reInitPassword') }}'>réinitialiser votre mot de passe</a>
<div>
    {{ text({'label': 'pseudo'}) }}
</div>
<div>
    {{ password() }}
</div>
<input type='submit' name='submit'>
{% endblock %}
