{% extends 'templates/logForm.html.twig' %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/button.html.twig' import button %}

{% block h2 %}
    Log In
{% endblock %}

{% block link %}
or <a href='{{ path_for('signup') }}'>sign up</a>
{% endblock %}

{% block action %}
{{ path_for('login') }}
{% endblock %}

{% block form %}
<div class="w3-section">
    {{ input('text', 'pseudo') }}
</div>
<div class="w3-section">
    {{ input('password') }}
</div>
<div class="w3-section">
    {{ button('submit') }}
    <a href='{{ path_for('resetPassword') }}'>reset your password</a>
</div>
{% endblock %}
