{% extends 'templates/logForm.html.twig' %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/button.html.twig' import button %}
{% from 'macro/form/select.html.twig' import select %}

{% block h2 %}Sign up{% endblock %}

{% block link %}
or <a href='{{ path_for('login') }}'>log in</a>
{% endblock %}

{% block action %}
{{ path_for('signup') }}
{% endblock %}

{% block form %}
<div class="w3-section">
    {{ input('text', 'pseudo') }}
</div>
<div class="w3-section">
    {{ input('password') }}
</div>
<div class="w3-section">
    {{ input('email') }}
</div>
<div class="w3-section">
    {{ select({'label': 'you are a', 'name': 'gender', 'array': characters}) }}
</div>
<div class="w3-section">
    {{ button('submit') }}
    {{ button('reset') }}
</div>
{% endblock %}
