{% extends 'templates/logForm.html.twig' %}
{% from 'macro/form/text.html.twig' import text %}
{% from 'macro/form/password.html.twig' import password %}
{% from 'macro/form/email.html.twig' import email %}
{% from 'macro/form/select.html.twig' import select %}
{% from 'macro/form/class.html.twig' import classCard, classh2, classForm %}

{% block h2 %}Sign up{% endblock %}

{% block action %}
{{ path_for('signup') }}
{% endblock %}

{% block form %}
    <a href='{{ path_for('login') }}'>login In</a>
    <div>
        {{ text({'label': 'pseudo'}) }}
    </div>
    <div>
        {{ password() }}
    </div>
    <div>
        {{ email() }}
    </div>
    <div>
        {{ select({'name': 'you are a:', 'array': characters}) }}
    </div>
    <div>
        <input type="submit" value="submit">
        <input type="reset" value="reset">
    </div>
{% endblock %}
