{% extends 'templates/logForm.html.twig' %}
{% use "templates/form.html.twig" %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/button.html.twig' import button %}
{% from 'macro/form/select.html.twig' import select %}

{% block h2 %}
<a class="w3-hover-green" href='{{ path_for('login') }}'>Log In</a>
/ <a class="w3-theme-d1" href='{{ path_for('signup') }}'>sign up</a>
/ <a class="w3-hover-green" href='{{ path_for('resetPassword') }}'>reset your password</a>
{% endblock %}

{% block link %}
{% endblock %}

{% block action %}
{{ path_for('signup') }}
{% endblock %}

{% block form %}
<div class="w3-section">
    {{ input('text', 'pseudo', {'value': post.pseudo}) }}
</div>
<div class="w3-section">
    {{ input('password') }}
</div>
<div class="w3-section">
    {{ input('email', 'email', {'value': post.email }) }}
</div>
<div class="w3-section">
    {{ select({'label': 'you are a', 'name': 'gender', 'array': characters, 'select': post.gender}) }}
</div>
<div class="w3-section">
    {{ button('submit') }}
    {{ button('reset') }}
</div>
{% endblock %}
