{% extends "layout.html.twig" %}
{% from 'macro/form/password.html.twig' import password %}

{% block title %}
{% endblock %}

{% block content %}
    <form action='{{ path_for('password') }}' method="post">
        <a href='{{ path_for('home') }}'>home?</a>
        <a href='{{ path_for('profil') }}'>modifier votre profil</a>
            <div>
                {{ password({'label': 'password'}) }}
            </div>
            <div>
                {{ password({'label': 'password', 'name': 'password1'}) }}
            </div>
            <input type='submit' name='submit'>
    </form>
{% endblock %}

