{% extends "layout.html.twig" %}
{% from 'macro/form/text.html.twig' import text %}
{% from 'macro/form/textarea.html.twig' import textarea %}
{% from 'macro/form/password.html.twig' import password %}
{% from 'macro/form/email.html.twig' import email %}
{% from 'macro/form/select.html.twig' import select %}
{% from 'macro/form/number.html.twig' import number %}

{% block title %}
{% endblock %}

{% block content %}
    <form action='{{ path_for('profil') }}' method="post">
        <a href='{{ path_for('home') }}'>home?</a>
            <div>
                {{ text({'label': 'pseudo', 'value': profil.pseudo}) }}
            </div>
            <div>
                {{ email({'value': profil.email}) }}
            </div>
            <div>
                {{ text({'label': 'forname', 'value': profil.forname}) }}
            </div>
            <div>
                {{ text({'label': 'name', 'value': profil.name}) }}
            </div>
            <div>
                {{ number({
                    'label': 'birthdate',
                    'min': 1850,
                    'max': 2020,
                    'name': 'birthdate',
                    'value': profil.birthdate
                    })
                }}
            </div>
            <div>
                {{ select({
                    'label': 'gender',
                    'array': characters,
                    'select': profil.gender,
                    })
                }}
            </div>
            <div>
                {{ select({
                    'label': 'sexual orientation',
                    'array': sexualPattern,
                    'select': profil.sexuality,
                    'name': sexuality
                    }) 
                }}
            </div>
            <div>
                {{ textarea({'label': 'Biography', 'value': profil.biography}) }}
            </div>
            <input type='submit' name='submit'>
    </form>
{% endblock %}

