{% extends "layout.html.twig" %}
{% from 'macro/form/text.html.twig' import text %}
{% from 'macro/form/password.html.twig' import password %}
{% from 'macro/form/email.html.twig' import email %}
{% from 'macro/form/select.html.twig' import select %}

{% block title %}
{% endblock %}

{% block content %}
<form action="{{ path_for('signup') }}" method="post">
    <a href='{{ path_for('login') }}'>login In?</a>
    <div>
        {{ text() }}
    </div>
    <div>
        {{ password() }}
    </div>
    <div>
        {{ email() }}
    </div>
    <div>
        {{ select('gender', characters) }}
    </div>
    <div>
        <input type="submit" value="submit">
        <input type="reset" value="reset">
    </div>
</form>
{% endblock %}
