{% extends "layout.html.twig" %}
{% import 'form.html.twig' as forms %}

{% block title %}
{% endblock %}

{% block content %}
<form action="" method="post">
    <a href='{{ path_for('login') }}'>login In?</a>
    <div>
        {{ forms.input() }}
    </div>
    <div>
        {{ forms.password() }}
    </div>
    <div>
        {{ forms.email() }}
    </div>
    <div>
        {{ forms.select('gender', characters) }}
    </div>
    <div>
        <input type="submit" value="submit">
        <input type="reset" value="reset">
    </div>
</form>
{% endblock %}
