{% extends "templates/home.html.twig" %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/button.html.twig' import button %}
{% from 'macro/form/textarea.html.twig' import textarea %}
{% from 'macro/form/select.html.twig' import select %}
{% from 'macro/form/layout.html.twig' import form %}

{% block main %}
<div class="w3-content w3-card-4 w3-margin-top w3-theme-light" style="max-width:500px">
    {{ form('Change your Password', 'editPassword', flash, editPass) }}
    <div class="w3-section">
        {{ input('password','enter new password', {'name': 'password'}) }}
    </div>
    <div class="w3-section">
        {{ input('password', 're-enter new password', {'name': 'password1'}) }}
    </div>
    {{ button('submit') }}
    </form>

    {{ form('Edit your profil', 'editProfil', flash, editProfil) }}
    <div class="w3-section">
        {{ input('text', 'pseudo', {'value': me.pseudo}) }}
    </div>
    <div class="w3-section">
        {{ input('email', 'email', {'value': me.email}) }}
    </div>
    <div class="w3-section">
        {{ input('text', 'forname', {'value': me.forname}) }}
    </div>
    <div class="w3-section">
        {{ input('text', 'name', {'value': me.name}) }}
    </div>
    <div class="w3-section">
        {{ input(
        'number',
        'birthdate',
        {
        'value': me.birthdate,
        'min': 1850,
        'max': year,
        'name': 'birthdate'
        })
        }}
    </div>
    <div class="w3-section">
        {{ select({
        'label': 'gender',
        'array': characters,
        'select': me.gender,
        })
        }}
    </div>
    <div class="w3-section">
        {{ select({
        'label': 'orientation',
        'array': sexualPattern,
        'select': me.sexuality,
        'name': 'sexuality'
        }) 
        }}
    </div>
    <div class="w3-section">
        {{ textarea({'label': 'Biography', 'name': 'biography', 'value': me.biography}) }}
    </div>
    {{ button('submit') }}
    </form>
    </div>
{% endblock %}

{% block script %}
<script>
var myId = '{{ me.publicToken }}';
</script>
<script src="js/autobahn.js"></script>
<script src="js/notification.js"></script>
<script src="js/displayForm.js"></script>
{% endblock %}
