{% extends "templates/home.html.twig" %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/button.html.twig' import button %}

{% block title %}
{% endblock %}

{% block content %}
<h2>Edit your password</h2>
    {% for key, message in flash %}
        {% if key == "success" %}
            <div class="w3-panel w3-green">
        {% else %}
            <div class="w3-panel w3-red">
        {% endif %}
        <p>{{ message }}</p>
            </div>
    {% endfor %}
    <form action='{{ path_for('editPassword') }}' method="post" class="w3-left-align">
        <div class="w3-section">
            {{ input('password') }}
        </div>
        <div class="w3-section">
            {{ input('password', 'password1') }}
        </div>
        <div class="w3-section">
            {{ button('submit') }}
        </div>
    </form>
    <a href='{{ path_for('editProfil') }}'>edit your profil</a>
{% endblock %}

