{% extends "templates/home.html.twig" %}
{% use "templates/form.html.twig" %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/button.html.twig' import button %}
{% from 'macro/form/textarea.html.twig' import textarea %}
{% from 'macro/form/select.html.twig' import select %}

{% block h2 %}
<a class="w3-theme-d1" href='{{ path_for('editProfil') }}'>Edit your profil</a>
/ <a class="w3-hover-green" href='{{ path_for('editPassword') }}'>Change your password</a>
{% endblock %}

{% block link %}
{% endblock %}

{% block action %}
{{ path_for('editProfil') }}
{% endblock %}

{% block form %}
    {% for key, message in flash %}
        {% if key == "success" %}
            <div class="w3-panel w3-green">
        {% else %}
            <div class="w3-panel w3-red">
        {% endif %}
        <p>{{ message }}</p>
            </div>
    {% endfor %}
        <div class="w3-section">
            {{ input('text', 'pseudo', {'value': profil.pseudo}) }}
        </div>
        <div class="w3-section">
            {{ input('email', 'email', {'value': profil.email}) }}
        </div>
        <div class="w3-section">
            {{ input('text', 'forname', {'value': profil.forname}) }}
        </div>
        <div class="w3-section">
            {{ input('text', 'name', {'value': profil.name}) }}
        </div>
        <div class="w3-section">
            {{ input(
            'number',
            'birthdate',
            {
            'value': profil.birthdate,
            'min': 1850,
            'max': 2020,
            'name': 'birthdate'
            })
            }}
        </div>
        <div class="w3-section">
            {{ select({
            'label': 'gender',
            'array': characters,
            'select': profil.gender,
            })
            }}
        </div>
        <div class="w3-section">
            {{ select({
            'label': 'orientation',
            'array': sexualPattern,
            'select': profil.sexuality,
            'name': 'sexuality'
            }) 
            }}
        </div>
        <div class="w3-section">
            {{ textarea({'label': 'Biography', 'name': 'biography', 'value': profil.biography}) }}
        </div>
    {{ button('submit') }}
    </form>
{% endblock %}

