{% extends "templates/home.html.twig" %}
{% use "templates/form.html.twig" %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/button.html.twig' import button %}

{% block h2 %}
<a class="w3-hover-green" href='{{ path_for('editProfil') }}'>Edit your profil</a>
/ <a class="w3-theme-d1" href='{{ path_for('editPassword') }}'>Change your password</a>
{% endblock %}

{% block link %}
{% endblock %}

{% block action %}
    {{ path_for('editPassword') }}
{% endblock %}

{% block form %}
    {% for key, message in flash %}
        {% if key == "success" %}
            <div class="w3-panel w3-green">
        {% else %}
            <div class="w3-panel w3-red">
        {% endif %}
        <p>{{ message }}</p>
            </div>
    {% endfor %}
    <div class="w3-section">
        {{ input('password') }}
    </div>
    <div class="w3-section">
        {{ input('password', 'password1') }}
    </div>
    {{ button('submit') }}
{% endblock %}

