{% extends "templates/home.html.twig" %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/button.html.twig' import button %}
{% from 'macro/form/textarea.html.twig' import textarea %}
{% from 'macro/form/select.html.twig' import select %}

{% block title %}
{% endblock %}

{% block content %}
<div>
    {% for key, message in flash %}
        {% if key == "success" %}
            <div class="w3-panel w3-green">
        {% else %}
            <div class="w3-panel w3-red">
        {% endif %}
        <p>{{ message }}</p>
            </div>
    {% endfor %}
    <form action='{{ path_for('editProfil') }}' method="post" class="w3-left-align">
        <a href='{{ path_for('editPassword') }}'>change your password</a>
        <div class="w3-section">
            {{ input('text', 'pseudo', {'value': profil.pseudo}) }}
        </div>
        <div class="w3-section">
            {{ input('email', 'email', {'value': profil.email}) }}
        </div>
        <div class="w3-section">
            {{ input('text', 'forname', {'value': profil.forname}) }}
        </div>
        <div class="w3-section">
            {{ input('text', 'name', {'value': profil.name}) }}
        </div>
        <div class="w3-section">
            {{ input(
            'number',
            'birthdate',
            {
            'value': profil.birthdate,
            'min': 1850,
            'max': 2020,
            'name': 'birthdate'
            })
            }}
        </div>
        <div>
            {{ select({
            'label': 'gender',
            'array': characters,
            'select': profil.gender,
            })
            }}
        </div>
        <div>
            {{ select({
            'label': 'orientation',
            'array': sexualPattern,
            'select': profil.sexuality,
            'name': 'sexuality'
            }) 
            }}
        </div>
        <div>
            {{ textarea({'label': 'Biography', 'name': 'biography', 'value': profil.biography}) }}
        </div>
        <div class="w3-section">
            {{ button('submit') }}
        </div>
    </form>
    <div id="mapholder"></div>
    <div id="map" style="height:100%"></div>
</div>
<script src="js/geolocation.js"></script>
<script>
var user;

if (navigator.geolocation)
{
    navigator.geolocation.getCurrentPosition(success, error);
    console.log(user);
}
if (!user)
{
    console.log('nop');
    user =  {
        lat: {{ profil.lattitude }},
        lng: {{ profil.longitude }},
    };
}
user.title = '{{ profil.pseudo }}';
</script>
{% endblock %}

