{% extends "templates/home.html.twig" %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/button.html.twig' import button %}

{% block title %}
{% endblock %}

{% block content %}
    <form action='{{ path_for('password') }}' method="post" class="w3-left-align">
        <a href='{{ path_for('profil') }}'>edit your profil</a>
        <div class="w3-section">
            {{ input('password') }}
        </div>
        <div class="w3-section">
            {{ input('password', 'password1') }}
        </div>
        <div class="w3-section">
            {{ button('submit') }}
        </div>
    </form>
{% endblock %}

