{% extends 'templates/home.html.twig' %}
{% from 'macro/home/profilButton.html.twig' import profilButton %}
{% from 'macro/home/img.html.twig' import img %}
{% from 'macro/home/subsectionTitle.html.twig' import subtitle %}

{# ------------ #}
{# main content #}
{# ------------ #}

{% block content %}
{% if profil.id == me.id %}
    {% set hi = 'Hi ' %}
    {% set your = 'Your ' %}
    {% set home = true %}
{% endif %}
<div class="w3-display-container" style="width:100%">
    <h2>{{ hi }}{{ profil.pseudo }}</h2>
    <div class="w3-display-right w3-theme-l5 w3-border w3-round w3-margin-right" style="width:100px" title="popularity: {{ profil.popularity }}/100">
        <div class="w3-round w3-green w3-border" style="width:{{ profil.popularity }}%;height:16px"></div>
    </div>
</div>
<div id="flash"></div>
{% if not home %}
    {% if not friend %}
        <a href='#' class="w3-right" onclick="addFriend('/addFriend/{{ profil.id }}')">add to friend list</a><br>
    {% else %}
        <a href='#' class="w3-right" onclick="addFriend('/addFriend/{{ profil.id }}')">remove from friend list</a><br>
    {% endif %}
{% endif %}
<div class="w3-row w3-margin" style="height:250px">
    <h3>{{ your }}Pictures</h3>
    {{ img(profil, 1, home, 'w3-card-4') }}
    <div class="w3-card-4 w3-half w3-black" style="height:inherit">
        <div class="w3-row w3-display-container" style="height:50%">
            {{ img(profil, 2, home) }}
            {{ img(profil, 3, home) }}
        </div>
        <div class="w3-row w3-display-container" style="height:50%">
            {{ img(profil, 4, home) }}
            {{ img(profil, 5, home) }}
        </div>
    </div>
</div>
<div class="w3-row">
    <div class="w3-half w3-padding">
        {{ subtitle(your, 'Profil', home, 'fa fa-gear', path_for('editProfil'), 'edit profil', true) }}
        <div class="w3-theme-l4 w3-padding" style="max-height:300px;overflow:auto">
            <div class="w3-left-align">
            {% if home %}
            name: {{ profil.forname}} {{profil.name}}<br>
            email: {{ profil.email }}<br>
            {% endif %}
            age: {{ 2018 - profil.birthdate }}<br>
            {% if home %}you are {% else %} it's {% endif %}a {{ profil.gender }}<br>
            orientation: {{ profil.sexuality }}<br>
            bio: {{ profil.biography }}<br>
            </div>
        </div>
    </div>
    <div class="w3-half w3-padding">
        {{ subtitle(your, 'Interest', home, 'fa fa-plus',  "addTag('/addTag')", 'add tag') }}
        <div class="w3-theme-l4" id="userTag" style="max-height:300px;overflow:auto">
            {% for tag in tags %}
                {{ profilButton(tag.id, tag.tag, "delUserTag('/delUserTag/', #{ tag.id })", home) }}
            {% endfor %}
        </div>
    </div>
</div>
{% if home %}
<div class="w3-row">
    <div class="w3-half w3-padding">
        <h3>{{ your }}Friend Request</h3>
        <div class="w3-theme-l4 w3-padding" style="max-height:300px;overflow:auto">
            {% for req in friendReq %}
                {{ profilButton(req.id, req.pseudo, "delFriendReq('/delFriendReq/#{ req.id }')", home, path_for('profil', req)) }}
            {% endfor %}
        </div>
    </div>
    <div class="w3-half w3-padding">
        <h3>{{ your }}Friends</h3>
        <div class="w3-theme-l4 w3-padding" style="max-height:300px;overflow:auto">
            {% for friend in friends %}
                {{ profilButton(friend.id, friend.pseudo, "/delFriendReq/#{friend.id}", home, path_for('profil', friend)) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<div class="w3-padding w3-row">
    {{ subtitle(your, 'Location', home, 'fa fa-repeat',  "updateGeolocation()", 'update') }}
    <div id="map" class="gg-map-small"></div>
</div>
{% endblock %}

{# -------------- #}
{# Javascript src #}
{# -------------- #}

{% block script %}
{% if profil.id == me.id %}
<script src='../js/myProfile.js'></script>
<script>
function deletePic(id) {
    var xhttp = new XMLHttpRequest();
    var parentNode = document.getElementById('img' + id);
    var iElmt = document.createElement('i');

    if (confirm("Delete?")) {
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                iElmt.setAttribute('class', "w3-jumbo w3-display-middle fa fa-plus");
                iElmt.setAttribute('title', "remove picture");
                while (parentNode.hasChildNodes()) {
                    parentNode.removeChild(parentNode.firstChild);
                }
                parentNode.appendChild(iElmt); 
            }
        };
        xhttp.open('GET', 'delPicture/' + id, true);
        xhttp.send();
    }
}

function addPicture(id) {
    alert(id);
    /*var xhttp = new XMLHttpRequest();
    var str = 'data=' + data;
    var i = 0;

    while (filter[i]) {
        str += '&title' + i + '=' + filter[i];
        i++;
    }
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

            var path = this.responseText;
            var img = document.createElement('img');

            img.src = id;
            img.alt = '';
            img.id = path;
            img.setAttribute('onclick','deletePic(' + path + ')');
            document.getElementById('new').appendChild(img);
        }
    };
    */
    xhttp.open('POST', '/addPic', true);
    xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhttp.send(str);
}
</script>
{% endif %}
<script src='../js/commonProfile.js'></script>
<script>
var user =  {lat: {{ profil.lattitude }}, lng: {{ profil.longitude }}, title: '{{ profil.pseudo }}'};
</script>
<script src="../js/geolocation.js"></script>
<script defer async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX5TOwSdL7R_-0S6h8-vQ7qz_tiebuwPg&callback=initMap"></script>
{% endblock %}
