{% extends 'templates/home.html.twig' %}

{% block content %}
{% if profil.id == user.id %}
    {% set hi = 'Hi ' %}
    {% set your = 'Your ' %}
    {% set home = true %}
{% endif %}
<h2>{{ hi }}{{ profil.pseudo }}</h2>
<div id="flash"></div>
{% if home %}
<a href='{{ path_for('editProfil') }}' class="w3-right">edit your profil</a><br>
<a href='{{ path_for('editPassword') }}' class="w3-right">change your password</a>
{% else %}
<a href='#' class="w3-right" onclick="addFriend('{{ path_for('addFriend', profil ) }}')">add to friend list</a><br>
<a href='#' class="w3-right" onclick="addFriend('{{ path_for('addFriend', profil ) }}')">remove from friend list</a><br>
<a href='#' class="w3-right" onclick="openTchat('{{ path_for('chat', profil) }}')">chat</a><br>
{% endif %}
<div class="w3-row">
    <div class="w3-card-4 w3-half">
        <img src='../{{ profil.img }}' alt='profil image' title='profil image' style="width:100%">
    </div>
</div>
<div class="w3-row">
    <div class="w3-half w3-padding">
        <h3>{{ your }}personnal information</h3>
        <p class="w3-left-align">
        {% if home %}
        name: {{ profil.forname}} {{profil.name}}<br>
        email: {{ profil.email }}<br>
        {% endif %}
        age: {{ 2018 - profil.birthdate }}<br>
        {% if home %}you are {% else %} it's {% endif %}a {{ profil.gender }}<br>
        orientation: {{ profil.sexuality }}<br>
        bio: {{ profil.biography }}<br>
        </p>
    </div>
    <div class="w3-half w3-left">
        <h3>{{ your }}Interest</h3>
    </div>
</div>
{% if home %}
<div class="w3-theme-l5 w3-row">
    <div class="w3-half w3-left">
        <h3>{{ your }}Friend Request</h3>
        {% for req in friendReq %}
        <div>
            <a href="{{ path_for('profil', req) }}" class="w3-button w3-margin-bottom w3-theme-l1 w3-round-xxlarge">{{ req.pseudo }}</a>
            <button class="w3-button w3-circle w3-theme-d2 w3-margin-bottom" style="line-height:0.75;vertical-align: middle;text-align:center;padding: 8px 8px">x</button>
        </div>
        {% endfor %}
    </div>
    <div class="w3-half w3-left">
        <h3>{{ your }}Friends</h3>
        {% for friend in friends %}
            <a href="{{ path_for('profil', friend) }}" class="w3-button w3-margin-bottom w3-theme-l2 w3-round-xxlarge">{{ friend.pseudo }}</a>
        {% endfor %}
    </div>
</div>
{% endif %}
<div>
        <h3>{{ your }}Localisation</h3>
    <div id="map" style="height:300px">
    </div>
</div>
{% endblock %}

{% block script %}
<script src="../js/addFriend.js"></script>
<script src="../js/openTchat.js"></script>
<script>
var user =  {lat: {{ profil.lattitude }}, lng: {{ profil.longitude }}, title: '{{ profil.pseudo }}'};
</script>
<script src="../js/geolocation.js"></script>
<script defer async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX5TOwSdL7R_-0S6h8-vQ7qz_tiebuwPg&callback=initMap"></script>
{%endblock %}
