{% extends 'templates/home.html.twig' %}
{% from 'macro/home/profilButton.html.twig' import profilButton %}
{% from 'macro/home/img.html.twig' import img %}
{% from 'macro/home/subsectionTitle.html.twig' import subtitle %}

{# ------------ #}
{# main content #}
{# ------------ #}

{% block content %}
{% if profil.id == me.id %}
    {% set hi = 'Hi ' %}
    {% set your = 'Your ' %}
    {% set home = true %}
{% endif %}
<div class="w3-display-container" style="width:100%">
    <h2>{{ hi }}{{ profil.pseudo }}</h2>
    <div class="w3-display-right w3-theme-l5 w3-border w3-round w3-margin-right" style="width:100px" title="popularity: {{ profil.popularity }}/100">
        <div class="w3-round w3-green w3-border" style="width:{{ profil.popularity }}%;height:16px"></div>
    </div>
</div>
<div id="flash"></div>
{% if not home %}
    {% if not friend %}
<a href='#' class="w3-right" onclick="addFriend('{{ path_for('addFriend', profil ) }}')">add to friend list</a><br>
    {% else %}
<a href='#' class="w3-right" onclick="addFriend('{{ path_for('addFriend', profil ) }}')">remove from friend list</a><br>
    {% endif %}
{% endif %}
<div class="w3-row w3-display-container w3-margin" style="height:250px">
    {{ img(profil.img1, profil.gender, home, 'w3-card-4') }}
    <div class="w3-card-4 w3-half w3-display-right w3-black" style="height:inherit">
        <div class="w3-row w3-display-container" style="height:50%">
            {{ img(profil.img2, profil.gender, home) }}
            {{ img(profil.img3, profil.gender, home) }}
        </div>
        <div class="w3-row w3-display-container" style="height:50%">
            {{ img(profil.img4, profil.gender, home) }}
            {{ img(profil.img5, profil.gender, home) }}
        </div>
    </div>
</div>
<div class="w3-row">
    <div class="w3-half w3-padding">
        {{ subtitle(your, 'Profil', home, 'fa fa-gear', path_for('editProfil'), 'edit profil', true) }}
        <div class="w3-theme-l4 w3-padding" style="max-height:300px;overflow:auto">
            <div class="w3-left-align">
            {% if home %}
            name: {{ profil.forname}} {{profil.name}}<br>
            email: {{ profil.email }}<br>
            {% endif %}
            age: {{ 2018 - profil.birthdate }}<br>
            {% if home %}you are {% else %} it's {% endif %}a {{ profil.gender }}<br>
            orientation: {{ profil.sexuality }}<br>
            bio: {{ profil.biography }}<br>
            </div>
        </div>
    </div>
    <div class="w3-half w3-padding">
        {{ subtitle(your, 'Interest', home, 'fa fa-plus',  "addTag('#{ path_for('addTag') }')", 'add tag') }}
        <div class="w3-theme-l4" id="userTag" style="max-height:300px;overflow:auto">
            {% for tag in tags %}
                {{ profilButton(tag.id, tag.tag, 'delUserTag', path_for('delUserTag', tag), home) }}
            {% endfor %}
        </div>
    </div>
</div>
{% if home %}
<div class="w3-row">
    <div class="w3-half w3-padding">
        <h3>{{ your }}Friend Request</h3>
        <div class="w3-theme-l4 w3-padding" style="max-height:300px;overflow:auto">
            {% for req in friendReq %}
                {{ profilButton(req.id, req.pseudo, 'delFriendReq', path_for('delFriendReq', req), home, path_for('profil', req)) }}
            {% endfor %}
        </div>
    </div>
    <div class="w3-half w3-padding">
        <h3>{{ your }}Friends</h3>
        <div class="w3-theme-l4 w3-padding" style="max-height:300px;overflow:auto">
            {% for friend in friends %}
                {{ profilButton(friend.id, friend.pseudo, 'delFriendReq', path_for('delFriendReq', friend), home, path_for('profil', friend)) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<div class="w3-padding w3-row">
    {{ subtitle(your, 'Location', home, 'fa fa-repeat',  "updateGeolocation()", 'update') }}
    <div id="map" class="gg-map-small"></div>
</div>
{% endblock %}

{# -------------- #}
{# Javascript src #}
{# -------------- #}

{% block script %}
{% if profil.id == me.id %}
<script src='../js/myProfile.js'></script>
{% endif %}
<script src='../js/commonProfile.js'></script>
<script>
var user =  {lat: {{ profil.lattitude }}, lng: {{ profil.longitude }}, title: '{{ profil.pseudo }}'};
</script>
<script src="../js/geolocation.js"></script>
<script defer async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX5TOwSdL7R_-0S6h8-vQ7qz_tiebuwPg&callback=initMap"></script>
{% endblock %}
