{% extends 'templates/home.html.twig' %}

{% block content %}
{% if profil.id == user.id %}
    {% set hi = 'Hi ' %}
    {% set your = 'Your ' %}
    {% set home = true %}
{% endif %}
<h2>{{ hi }}{{ profil.pseudo }}</h2>
<div id="flash"></div>
{% if home %}
<a href='{{ path_for('editProfil') }}' class="w3-right">edit your profil</a><br>
<a href='{{ path_for('editPassword') }}' class="w3-right">change your password</a>
{% else %}
<a href='#' class="w3-right" onclick="addFriend('{{ path_for('addFriend', profil ) }}')">add to friend list</a><br>
<a href='#' class="w3-right" onclick="addFriend('{{ path_for('addFriend', profil ) }}')">remove from friend list</a><br>
<a href='#' class="w3-right" onclick="openTchat('{{ path_for('chat', profil) }}')">chat</a><br>
{% endif %}
<div class="w3-row">
    <div class="w3-card-4 w3-half">
        <img src='../{{ profil.img }}' alt='profil image' title='profil image' style="width:100%">
    </div>
</div>
<div class="w3-row">
    <div class="w3-half">
        <div class="w3-theme-l4 w3-margin w3-padding">
            <h3>{{ your }}personnal information</h3>
            <p class="w3-left-align">
            {% if home %}
            name: {{ profil.forname}} {{profil.name}}<br>
            email: {{ profil.email }}<br>
            {% endif %}
            age: {{ 2018 - profil.birthdate }}<br>
            {% if home %}you are {% else %} it's {% endif %}a {{ profil.gender }}<br>
            orientation: {{ profil.sexuality }}<br>
            bio: {{ profil.biography }}<br>
            </p>
        </div>
    </div>
    <div class="w3-half">
        <div class="w3-theme-l4 w3-margin w3-padding">
            <h3>{{ your }}Interest</h3>
        </div>
    </div>
</div>
{% if home %}
<div class="w3-row">
    <div class="w3-half">
        <div class="w3-theme-l4 w3-margin w3-padding">
            <h3 class="w3-margin-bottom">{{ your }}Friend Request</h3>
            {% for req in friendReq %}
                <div class=" w3-bar w3-theme-l1 w3-round-xxlarge">
                    <a href="{{ path_for('profil', req) }}" class="w3-padding w3-hover-opacity">{{ req.pseudo }}</a>
                    <button class="w3-button w3-theme-d1" style="border-radius:0 100px 100px 0">x</button>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="w3-half">
        <div class="w3-theme-l4 w3-margin w3-padding">
            <h3 class="w3-margin-bottom">{{ your }}Friends</h3>
            {% for friend in friends %}
                <div class=" w3-bar w3-theme-l1 w3-round-xxlarge">
                    <a href="{{ path_for('profil', friend) }}" class="w3-padding w3-hover-opacity">{{ friend.pseudo }}</a>
                    <button class="w3-button w3-theme-d1" style="border-radius:0 100px 100px 0">x</button>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<div>
    <h3>{{ your }}Localisation</h3>
    <div id="map" style="height:300px">
    </div>
</div>
{% endblock %}

{% block script %}
{% if not home %}
<script src="../js/addFriend.js"></script>
<script src="../js/openTchat.js"></script>
{% endif %}
<script>
var user =  {lat: {{ profil.lattitude }}, lng: {{ profil.longitude }}, title: '{{ profil.pseudo }}'};
</script>
<script src="../js/geolocation.js"></script>
<script defer async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX5TOwSdL7R_-0S6h8-vQ7qz_tiebuwPg&callback=initMap"></script>
{%endblock %}
