{% extends 'templates/home.html.twig' %}
{% from 'macro/form/button.html.twig' import button %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/select.html.twig' import select %}

{% block content %}
    <h2>Search</h2>
    <form action="{{ path_for('searchByCriteria') }}" method="post">
        <fieldset class="w3-row">
            <legend>Search by Criteria</legend>
            <div class="w3-quarter">
                <h3>age</h3>
                <div id="" class="">
            {{ input(
            'number',
            'min',
            {
            'value': age.min,
            'min': 18,
            'max': 118,
            'name': 'min'
            })
            }}
            {{ input(
            'number',
            'max',
            {
            'value': age.max,
            'min': 18,
            'max': 118,
            'name': 'max'
            })
            }}
                </div>
            </div>
            <div class="w3-quarter">
                <h3>kind</h3>
                <div id="" class="">
                    <select name="gender" size="5" multiple style="width:100%">
                        {% for char in target %}
                            <option value="{{ char }}">{{ char }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="w3-quarter">
                <h3>distance</h3>
                <div id="" class="">
            {{ select({
            'label': '< (km)',
            'array': distance,
            'select': distSel,
            })
            }}
                </div>
            </div>
            <div class="w3-quarter">
                <h3>interest</h3>
                <select name="gender" size="5" multiple style="width:100%">
                    {% for tag in tags %}
                        <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                </select>
                <div id="" class=""></div>
            </div>
        </fieldset>
        {{ button('search') }}
    </form>
    <form action="{{ path_for('searchByName') }}" method="post">
        <fieldset class="w3-row">
            <legend>Search by Name</legend>
            {{ input('text', 'pseudo', {'value': ''}) }}
        </fieldset>
        {{ button('search') }}
    </form>
    <div class="w3-row">
        <div class="w3-third">
            <h3>Focus</h3>
            {% for user in users %}
            <div class="hide" id="{{ user.id }}">
                <div class="w3-theme-l4" style="height:100px;overflow:auto">
                    <div class="w3-theme-l1" style="width:100%;height:31px;position:sticky;top:0">
                        <a href="{{ path_for('profil', user) }}">
                            <h4 class="w3-margin-left w3-left w3-theme-l1">{{ user.pseudo }}: {{ user.gender }}, {{ 2018 - user.birthdate }}</h4>
                        </a>
                        <i class="w3-button w3-right fa fa-remove w3-hover-red" onclick="closeInfo({{ user.id }})"></i>
                    </div>
                        <img src="{{ user.img1 }}" class="w3-right" style="width:50%">
                        <p class="w3-small">{{ user.biography }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="w3-rest">
            <h3>Map</h3>
            <div id="map" class="gg-map-med"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
var myPos = {lat: {{ me.lattitude }}, lng: {{ me.longitude }}};
var usersPos = [
{% for user in users %}
    {lat: {{ user.lattitude }}, lng: {{ user.longitude }}, title: '{{ user.pseudo }}', img: '{{ user.img1 }}', id: '{{ user.id }}', kind: '{{ user.gender }}'},
{% endfor %}
];

function closeInfo(id) {
    document.getElementById('' + id).style.display = "none";
}
</script>
<!--<script src="googleMap/markerclusterer/src/markerclusterer.js"></script>-->
<script src="js/mapSearch.js"></script>
<script defer async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX5TOwSdL7R_-0S6h8-vQ7qz_tiebuwPg&callback=initMap"></script>
{% endblock %}
