{% extends 'templates/home.html.twig' %}

{% block content %}
<div id="map" style="height:500px"></div>
<h2>Focus</h2>
{% for user in users %}
<div class="hide" id="{{ user.id }}">
    <div class="w3-bar w3-border w3-theme-l3" style="width:100%">
        <a href="{{ path_for('profil', user) }}">
            <img src="../{{ user.img }}" class="w3-bar-item" style="width:120px">
            <div class="w3-container w3-bar-item">
                <span>{{ user.pseudo }}</span><br>
                <span>{{ user.gender }}</span>
            </div>
            <div class="w3-container w3-bar-item">
                <span>{{ 2018 - user.birthdate }}</span><br>
                <span>{{ user.biography }}</span>
            </div>
        </a>
        <button class="w3-button w3-black w3-right" onclick="closeInfo({{ user.id }})">x</button>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block script %}
<script>
var myPos = {lat: {{ me.lattitude }}, lng: {{ me.longitude }}};
var usersPos = [
{% for user in users %}
    {lat: {{ user.lattitude }}, lng: {{ user.longitude }}, title: '{{ user.pseudo }}', img: '{{ user.img }}', id: '{{ user.id }}', kind: '{{ user.gender }}'},
{% endfor %}
];

</script>
<script>
function closeInfo(id)
{
    document.getElementById('' + id).style.display = "none";
}
</script>
<script src="js/map.js"></script>
<script src="googleMap/markerclusterer/src/markerclusterer.js"></script>
<script defer async src="https://maps.googleapis.com/maps/api/js?key=AAAIzaSyCX5TOwSdL7R_-0S6h8-vQ7qz_tiebuwPg&callback=initMap"></script>
{% endblock %}
