{% extends "templates/home.html.twig" %}
{% from 'macro/form/button.html.twig' import button %}
{% from 'macro/form/textarea.html.twig' import textarea %}
{% from 'macro/form/layout.html.twig' import form %}

{% block main %}
<div class="w3-row">
    <div class="w3-col l6 w3-card-4 w3-margin-top">
        <h2 class="w3-hover-green w3-theme-l1" style="cursor:pointer;margin:0" onclick="toggleDisplay('Friends')">Choose your "Friend"</h2>
        <div class="w3-row w3-theme-l5" id="Friends">
            {% for user in friends %}
            <div id="{{ user.id }}" class="w3-col s4 m2 l3 w3-margin" style="overflow:hidden;">
                <a href="#" class="w3-theme-d1" onclick="tchatWith('{{ user.pseudo }}', {{ user.id }}, {{ me.id }}, '{{ user.suscriber }}')">
                    <h4 class="">{{ user.pseudo }}</h4>
                    <div class="w3-black w3-display-container" style="height:112px">
                    <img src="{{ user.img1 }}" class="w3-image w3-display-middle" style="max-height:112px">
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="tchatWindow" class="w3-col l6 w3-margin-top w3-hide">
        <div class="w3-content w3-theme-l5">
            <h2 id="tchatTitle" class="w3-theme-l1" style="margin:0"></h2>
            <div id="tchatMessages" class="w3-padding" style="height:400px;overflow:auto;background-color:white">
            </div>
            <button id="tchatButton" type="button" class="w3-button w3-right w3-ripple w3-theme-l1 w3-hover-green w3-margin-left" onclick="">send</button>
            <textarea id="tchatMsg" class="w3-input" placeholder="type some insult here"></textarea>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
var myId = '{{ me.publicToken }}';
</script>
<script src="js/displayForm.js"></script>
<script src="js/autobahn.js"></script>
<script src="js/notification.js"></script>
<script src="js/chat.js"></script>
{% endblock %}
