{% extends 'templates/logForm.html.twig' %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/select.html.twig' import select %}
{% from 'macro/form/title.html.twig' import title %}
{% set buttonClass = "w3-button w3-right w3-ripple w3-theme-l1 w3-hover-green w3-margin-left w3-margin-bottom" %}

{% block main %}
<div class="w3-content w3-card-4 w3-margin-top w3-theme-light" style="width:90vw;max-width:500px">
    {{ title('Log In', 'login',  login) }}
    <form id="login" class="w3-container w3-theme-light clearfix w3-hide {% if login %}w3-show{% endif %}"
          style="opacity:0.95" action="{{ path_for('login') }}" method="post">
        {% if login %}
            {% for key, message in flash[constant('APP\\LIB\\FlashMessage::FAIL')] %}
                <div class="w3-panel w3-{% if key == "success" %}green{% else %}red{% endif %}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <div class="w3-section">
            {{ input('text', 'pseudo', {'id': 'pseudo1', 'value': post.pseudo, 'pattern': constant('App\\Lib\\Validator::PSEUDO')}) }}
        </div>
        <div class="w3-section">
            {{ input('password', 'password', {'id': 'password1'}) }}
        </div>
        <div class="">
            <input class="{{ buttonClass }}" type="submit" value="Login">
            <a class="w3-button w3-right w3-ripple w3-black w3-hover-green w3-margin-left w3-margin-bottom"
               href="https://api.intra.42.fr/oauth/authorize?client_id={{ PUB_42_KEY }}&redirect_uri={{ BASE_URL }}{{ path_for('apiLogin', {'name': '42'}) }}&response_type=code"
            >
                <img alt="42" src="https://meta.intra.42.fr/assets/42_logo-7dfc9110a5319a308863b96bda33cea995046d1731cebb735e41b16255106c12.svg" height="20px">
                Login
            </a>
            <div class="w3-right g-signin2 fix-gg" data-onsuccess="onSignIn" data-theme="dark"></div>
        </div>
    </form>
    {{ title('Reset Your Password', 'resetPassword',  reset) }}
    <form id="resetPassword" class="w3-container w3-theme-light clearfix w3-hide {% if reset %}w3-show{% endif %}"
          style="opacity:0.95" action="{{ path_for('resetPassword') }}" method="post" matcha-form>
        <div class="w3-section">
            {{ input('email', 'email', {'id': 'email1', 'value': post.email }) }}
        </div>
        <input class="{{ buttonClass }}" type="submit" value="Send">
    </form>
    {{ title('Sign Up', 'signup',  signup) }}
    <form id="signup" class="w3-container w3-theme-light clearfix w3-hide {% if signup %}w3-show{% endif %}"
          style="opacity:0.95" action="{{ path_for('signup') }}" method="post" matcha-form>
        <div class="w3-section">
            {{ input('text', 'pseudo', {'value': post.pseudo, 'pattern': constant('App\\Lib\\Validator::PSEUDO')}) }}
        </div>
        <div class="w3-section">
            <div id="infopwd" class="w3-panel w3-green">
                <p>Your password must contain at least:</p>
                <ul>
                    <li>8 characters</li>
                    <li>1 upper case letter</li>
                    <li>1 lower case letter</li>
                    <li>1 number</li>
                </ul>
            </div>
            {{ input('password','password') }}
        </div>
        <div class="w3-section">
            {{ input('password','password confirmation') }}
        </div>
        <div class="w3-section">
            {{ input('email', 'email', {'value': post.email }) }}
        </div>
        <div class="w3-section">
            {{ input('text', 'name', {'value': post.name|default("Ann"), 'maxlength': constant('App\\Lib\\Validator::MAX_NAME_LENGTH') }) }}
        </div>
        <div class="w3-section">
            {{ input('text', 'surname', {'value': post.surname|default("Onymous"), 'maxlength': constant('App\\Lib\\Validator::MAX_NAME_LENGTH') }) }}
        </div>
        <div class="w3-section">
            {{ select({'label': 'you are a', 'name': 'gender', 'array': constant('App\\Lib\\Validator::GENDER'), 'select': post.gender}) }}
        </div>
        <div class="w3-section g-recaptcha" data-sitekey="{{ PUB_CAPTCHA_KEY }}"></div>
        <div class="">
            <input class="{{ buttonClass }}" type="submit" value="Signup">
            <input class="{{ buttonClass }}" type="reset" value="Reset">
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
    <script>
		function onSignIn(googleUser) {
			var id_token = googleUser.getAuthResponse().id_token
			var xhr = new XMLHttpRequest();

			xhr.open('POST', '/apiLogin/google')
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
			xhr.onreadystatechange = function() {
				if (this.readyState === 4 && this.status === 200) {
					window.location.replace(xhr.responseText);
				}
			}
			xhr.send('idtoken=' + id_token)
		}
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
